<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC5udGvJMJX7HrOId9Wm9gEhctiUhsMNA</string>
	<key>GCM_SENDER_ID</key>
	<string>537668806739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.dnn.appclinic</string>
	<key>PROJECT_ID</key>
	<string>dnnclinic</string>
	<key>STORAGE_BUCKET</key>
	<string>dnnclinic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537668806739:ios:55d3e786d311dccd97fea6</string>
</dict>
</plist>